
/* Styles for the "Models" container */
.modelsContainer {
  position: absolute; /* Positioned absolute */
  top: calc(100vh + 10px); /* Positioned below the video */
  left: 0; /* Positioned at the left */
  width: 100%; /* Full width */
  background-color: black; /* Black background */
  padding: 20px 0; /* Padding around the text */
  text-align: center; /* Center-aligned text */
  z-index: 1001; /* Stack above other elements */
}

/* Styles for the "Models" text */
.modelsText {
  left: 10%; /* Positioned at the left */
  font-size: 2rem; /* Font size */
  color: white; /* Text color */
  margin: 0; /* No margin */
}

.carlos {
  position: relative; /* Position relative for container */
}

.carlos .words {
  position: absolute; /* Position absolute for car name */
  bottom: -20px; /* Positioned at the bottom */
  left: 15%; /* Positioned at the center horizontally */
  transform: translateX(-50%); /* Center the text horizontally */
  color: white; /* Text color */
  font-size: 1.5rem; /* Font size */
  text-shadow: 2px 2px 4px black; /* Text shadow effect */
  text-align: center; /* Center-aligned text */
}

.carlo2 {
  position: relative; /* Position relative for container */
}

.carlo2 .words {
  position: absolute; /* Position absolute for car name */
  bottom: -20px; /* Positioned at the bottom */
  left: 15%; /* Positioned at the center horizontally */
  transform: translateX(-50%); /* Center the text horizontally */
  color: white; /* Text color */
  font-size: 1.5rem; /* Font size */
  text-shadow: 2px 2px 4px black; /* Text shadow effect */
  text-align: center; /* Center-aligned text */
}

.carlo3 {
  position: relative; /* Position relative for container */
}

.carlo3 .words {
  position: absolute; /* Position absolute for car name */
  bottom: -20px; /* Positioned at the bottom */
  left: 15%; /* Positioned at the center horizontally */
  transform: translateX(-50%); /* Center the text horizontally */
  color: white; /* Text color */
  font-size: 1.5rem; /* Font size */
  text-shadow: 2px 2px 4px black; /* Text shadow effect */
  text-align: center; /* Center-aligned text */
}

.carlo4 {
  position: relative; /* Position relative for container */
  }

.carlo4 .words {
  position: absolute; /* Position absolute for car name */
  bottom: -20px; /* Positioned at the bottom */
  left: 34%; /* Positioned at the center horizontally */
  transform: translateX(-50%); /* Center the text horizontally */
  color: white; /* Text color */
  font-size: 1.5rem; /* Font size */
  text-shadow: 2px 2px 4px black; /* Text shadow effect */
  text-align: center; /* Center-aligned text */
}
/* Words styles */
.words {
  font-size: 2rem !important; /* Font size */
  color: white; /* Text color */
  text-shadow: 2px 2px 4px black; /* Text shadow effect */
  position: absolute; /* Positioned absolute */
  bottom: -30px; /* Positioned at the bottom, adjust as needed */
  left: 50%; /* Positioned at the center horizontally */
  transform: translateX(-50%); /* Center the text horizontally */
  text-align: center; /* Center-aligned text */
}

/* Menu styles */
.menu {
  padding: 0; /* No padding */
  margin: 50px 0 20px; /* Margin */
  list-style: none; /* No list style */
}

.menuItem a {
  display: block; /* Block-level display */
  padding: 10px 15px; /* Padding */
  color: white; /* Text color */
  text-decoration: none; /* No text decoration */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.menuItem a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Background color on hover */
}

.menuItem a i {
  margin-top: 150px; /* Top margin */
  margin-right: 10px; /* Right margin */
}

/* Sidebar footer styles */
.sidebarFooter {
  position: absolute; /* Positioned absolute */
  bottom: 10px; /* Positioned at the bottom */
  left: 0; /* Positioned at the left */
  width: 100%; /* Full width */
  text-align: center; /* Center-aligned text */
}

.sidebarFooter a {
  color: white; /* Text color */
  text-decoration: none; /* No text decoration */
  display: block; /* Block-level display */
  margin: 5px 0; /* Margin */
}

.sidebarFooter a:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Overlay styles */
.overlay {
  position: fixed; /* Positioned fixed to the viewport */
  top: 0; /* Positioned at the top */
  left: 0; /* Positioned at the left */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 998; /* Stack above other elements */
  display: none; /* Initially hidden */
}

/* Video styles */
.car1Video {
  width: 100%; /* Full width */
  height: 100vh; /* Full height of viewport */
  object-fit: cover; /* Cover the container */
}

/* Navbar brand image styles */
.navbarBrandImg {
  width: 150px; /* Width */
  height: auto; /* Auto height */
  margin-right: 100px; /* Right margin */
  display: block; /* Block-level display */
}

/* Styles for the car images */
.carlos img, .carlo2 img, .carlo3 img, .carlo4 img {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: block; /* Block-level display */
  position: relative; /* Positioned relative */
  display: inline-block; /* Make the container inline-block */
  margin: 0; /* Remove default margin */
  margin-right: 0px; /* Adjusted margin to remove space between images */
}
