.container {
  background-image: url('/photos gt3/final pic.png'); /* Set the background image */
  background-size: cover; /* Adjusted to cover the entire container */
  background-position: center; /* Center the background image */
  background-color: rgba(248, 249, 250, 0.5); /* Set a semi-transparent background color */
  backdrop-filter: blur(8px); /* Apply a blur effect to the background */
  color: #fff; /* Set the text color to white */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin: 0; /* Remove any default margin */
  padding: 20px; /* Add padding to ensure it's not too close to the edges */
  z-index: 1; /* Ensure the container appears above the background */
}

.loginForm,
.registerInfo {
  background-color: rgba(70, 70, 70, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(70, 70, 70, 1);
  padding: 25px; /* Adjust padding for consistency */
  width: 100%;
  max-width: 400px; /* Keep the maximum width */
}


.login-info {
  text-align: center; /* Center-align the login information */
  margin-top: 40px; /* Add some space at the top */
}

@media (max-width: 767px) {
  .login-form,
  .register-info {
    margin-right: 0; /* Remove margin on smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
  }
}

.form-label {
  font-weight: bold; /* Make form labels bold */
  color: black; /* Set the color of form labels to black */
}

.register-info,
.login-info {
  color: rgb(0, 0, 0); /* Set the color of login information to dark red */
}

.form-label,
.login-form {
  color: black; /* Set the color of form inputs to black */
}

.row {
  width: 100%; /* Ensure the row takes full width */
  display: flex; /* Use flexbox for child alignment */
  justify-content: center; /* Center the content horizontally */
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%; /* Ensure the column takes full width */
  max-width: 400px; /* Set a maximum width for the column */
}

.mb {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}